---
---

@import "main";

body {
    padding-bottom: 70px;
}

.bg-gradient {
    background: rgb(0,123,255);
    background: linear-gradient(130deg, rgba(0,123,255,1) 0%, rgba(220,53,69,1) 51%, rgba(40,167,69,1) 100%);
    color: white !important;
}

.vignette {
    width: 80%;
    margin: 1em auto;
    box-shadow: 50px 50px 113px #defeec inset,-50px -50px 110px #defeec inset;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}