---

---

@import "main";

body {
    padding-bottom: 10px;
}

.bg-gradient {
    padding: 20px 0px 20px 0px;
    background: rgb(0,123,255);
    background: linear-gradient(130deg, rgba(0,123,255,1) 0%, rgba(220,53,69,1) 51%, rgba(40,167,69,1) 100%);
    color: white !important;
    background-size: 300% 300%;

    -webkit-animation: GradientAnimate 15s ease infinite;
    -moz-animation: GradientAnimate 15s ease infinite;
    animation: GradientAnimate 15s ease infinite;
    
    @-webkit-keyframes GradientAnimate {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes GradientAnimate {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes GradientAnimate {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

.vignette {
    width: 80%;
    margin: 1em auto;
    box-shadow: 50px 50px 113px #defeec inset,-50px -50px 110px #defeec inset;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }